*
{
    padding: 0px;
    margin: 0px;
}
header
{
    height: 100vh;
    position: relative;
    width: 100%;
    border-bottom: 2px solid #863be6;
}
.special-header
{
    position: absolute;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100%;
    background-image: url("./../../assets/hero-banner-bg.png");
    background-position: center;
    background-size: cover;
    bottom: 0px;
}
.pubj-image
{
    width: 700px;
    height: 300px;
}
.header-content
{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
}
header
{
    color:#fcfdff;
}
@media screen and (max-width:767px) 
{
    .pubj-image
    {
        width: 100%;
    }
}